<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Word Count</title>
    <link rel = "stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="header">
    <h2>About</h2>
    <p style="font-size: 3vh;">이곳은 글자수를 세주는 곳입니다. 입력후 버튼을 눌러주세요.</p>
    
    
        
        <div style = "margin: 2vh 0;">
        <a style ="margin-bottom : 10px; font-family: cursive;" href="{%url 'home' %}">Home</a>
    
    </div>
    
</body>
</html>